
.select{
    display: none;
}
.drop-zone{
   
    width: 30%;
    height: 75px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 3px dashed black;
  
}
.clicks{
    height: 75px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10%;
    border: 3px solid gray;
}
.container .row .image{
    position: relative;
}
.container .row .image .icon{
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 1;
    color: red;
    cursor: pointer;
    font-size: 14px;
}